* {
    padding: 0;
    margin: 0;
}

[contenteditable] {
    outline: 0 solid transparent;
}

a,
a:link {
    text-decoration: none;
    color: black;
}

#app {
    width: 100%;
    height: 100%;
}

.htmlName,
.notice {

    margin-left: 1rem;

    line-height: 2.5rem;

    font-size: 2rem;

    color: rgb(255, 255, 255);

    font-family: emoji;
}

.stringLength {
    color: green;
}

.backImg {
    height: 100%;
    overflow: auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(/images/hexa_back_01.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

body {
    height: 100%;
    width: auto;
    margin: 0px 10.25rem;
}

.top {
    background-color: rgb(139, 187, 233);
    width: auto;
    height: 6%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topimg {
    width: 2rem;
    margin-left: 1.3rem;
    display: none;
}

.left {
    background-color: rgb(76, 91, 111);
    height: 100%;
    width: 6%;
    border-bottom-left-radius: 1rem;
    /* flex-grow: 1; */
}

.left .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
    align-items: center;
}

.left .content .xx img {
    max-width: 100%;
    height: auto;
}

.left .content .xx {
    border-bottom: 1px black solid;
    height: 40%;
}

.center {
    background-color: rgb(243, 247, 248);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 50%;
    overscroll-behavior: contain;
    /* flex-grow: 1; */
}

.center .xq {
    display: flex;
    height: 5rem;
    padding: 0.2rem 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.qx {
    background-color: rgb(202, 215, 221);
}

.right {
    background-color: rgb(207, 207, 206);
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: flex-end;
    align-items: baseline;
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    flex-grow: 1;
}

.bottom1 {
    background-color: rgb(76, 91, 111);
    height: 96%;
    display: flex;
    /* justify-content: flex-start; */
    /* border-bottom-left-radius: 1rem; */
    border-bottom-right-radius: 1rem;
    flex-direction: row;
    width: 100%;
}

.nopkmpBottom {
    display: flex;
    align-items: center;
    background-color: rgb(222, 184, 135);
    width: 100%;
    /* justify-content: space-between; */
}

.bimg {
    display: flex;
    align-items: center;
    /* height: 4px; */
    flex-flow: 1;
}

input.el-input__inner {
    font-size: 1rem;
}

.send {
    border: 0;
    background-color: burlywood;
    cursor: pointer;
    display: flex;
}

.save {
    border: 0;

    cursor: pointer;
}

.propIcons {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 228, 196);
    padding: 0.2rem 0;
    /* align-content: space-around; */
    justify-content: space-around;
}

.propIco {
    height: 1.8rem;
    cursor: pointer;
}

.propIco:hover {
    position: relative;
    bottom: 0.1rem;
}

.bg {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-right: 10px solid rgb(76, 91, 111);
    border-bottom: 10px solid transparent;
    position: relative;
    top: -51px;
    left: 83px;
}

.topBox {
    padding: 0.25rem 0.5rem;
    width: auto;
    /* margin-left: auto; */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: flex-end;
}

.topDelete {
    display: inline;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
    width: auto;
    height: 2.5rem;
    line-height: 1.5rem;
    border: none;
    transform: skew(0deg);
    cursor: pointer;
    margin-right: 1rem;
    background-color: white;
    border: 0.2px solid rgb(230, 233, 235);
    box-shadow: rgb(207, 212, 215) 0.05rem 0.1rem 0.2rem;
    border-radius: 0.25rem;
}

.topDeleteSpan {
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(63, 68, 74);
}

.roleOverall {
    display: flex;
    margin: 0 1rem;
    /* width: 100%; */
}

.roleOverallTopMargin {
    margin-top: 1rem;
}

.rightRoleOverall {
    margin-top: 0.5rem;
    flex-direction: row-reverse;
    /* margin-right: 0; */
}

#box>.rightRoleOverall:last-child {
    margin-bottom: 1rem;
    ;
}

.divImg {
    padding-right: 0;
}

.roleImg {
    width: 64px;
    height: 64px;
    border-radius: 2.5rem;
}

.roleNameSpan {
    margin-left: 0.85rem;
    font-family: bold;
    font-weight: bold;
    font-size: large;
}

.roleRemarkDiv {
    display: flex;
    padding: 0.5rem;
}

.roleRemarkDivs {
    display: flex;
    padding: 0.5rem 0rem 0 0.5rem;
    /* width: 100%; */
}

.horn {
    left: -0.5rem;
    top: 0.6rem;
    border-top: 0.3rem solid transparent;
    border-right: 0.5rem solid rgb(76, 91, 111);
    border-bottom: 0.3rem solid transparent;
    width: 0;
    height: 0;
    margin-top: 0.5rem;
}

.Righthorn {
    left: -0.5rem;
    top: 0.6rem;
    border-top: 0.3rem solid transparent;
    border-left: 0.5rem solid rgb(74, 138, 202);
    border-bottom: 0.3rem solid transparent;
    width: 0;
    height: 0;
    margin-top: 0.5rem;
    margin-right: 0.65rem;
}

.roleRemarkDiv2 {
    max-width: 33rem;
    /* max-width: 88%; */
    border-radius: 0.5rem;
    background: rgb(76, 91, 111);
    border: 1px solid rgb(76, 91, 111);
}

.replaceAvatar {
    /* margin-left: 6rem; */
    width: 72px;
}

.width0 {
    display: none;
}

/* ////////////////////////////////////////////// */
.roleRemarkDivImg {
    display: flex;
    padding: 0.5rem;
    padding-right: 0;
    /* width: 100%; */
}

.roleRemarkDiv3 {
    max-width: 35rem;
    border-radius: 0.5rem;
    background: rgb(74, 138, 202);
    border: 1px solid rgb(74, 138, 202);
}

.roleRemarkDivSpan {
    color: white;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-all;
    font-size: 1.1rem;
    font-family: none;
    /* font-weight: bold; */
    /* display: inline-block; */
}

#box {
    background-color: rgb(207, 207, 206);
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    overscroll-behavior: contain;
}

.rightImg {
    padding: 0.25rem;
    border-radius: 0.25rem;
    /* max-width: 80%; */
}

.rightImgExpression {
    border-radius: 0.25rem;
    /* max-width: 90%; */
    width: 10rem;
}

.udiohsfnds {
    margin-right: 1.25rem;
}

.sioahdnaoi {
    margin-left: 1rem;
}

.rightImg1 {
    background-color: rgb(74, 138, 202);
    max-width: 75%;
}

.rightImg2 {
    background-color: rgb(76, 91, 111);
    max-width: 90%;
}

.centerRoleArraybtn {
    display: flex;
    flex-direction: row;
    overflow: auto;
    overflow-y: hidden;
    width: 100%;
    overscroll-behavior: contain;
}

.centerRoleArraybtn img {
    background-color: rgb(243, 247, 248);
    border-radius: 2.5rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.imgb {
    width: 64px;
    height: 64px;
    filter: brightness(50%);
}

.conImg:hover {
    filter: brightness(100%);
}

.bottomImgs {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.bottomImgs img {
    margin: 0 0.5rem 0 0;
    border-radius: 50px;
    background-color: white;
    display: block;
    object-fit: cover;
    height: 35px;
    width: 35px;
}

.imgd {
    border: 1px solid yellow;
}

.pangbaiDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;
    /* padding: 20px; */
    /* width: 610px; */
}

.pangbaiSpan {
    display: flex;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-all;
    font-size: 1.1rem;
    font-weight: bold;
    /* font-family: none; */
    flex-direction: row;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: medium;
}

#text {
    word-break: break-all;
    overflow: hidden;
    resize: none;
    height: 1.35rem;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    /* flex-grow: 2; */
    /* font-size: 1rem; */
    /* line-height: 1rem; */
    width: 100%;
    /* padding: 0.1rem; */
    padding: 0 auto;
}


.txtDiv {
    /* display: flex; */
    /* flex-grow: 2; */
    /* width: 243px; */
    /* height: 1rem; */
    /* line-height: 1rem; */
    /* padding: 0 1rem; */
    width: 100%;
}

.sdad {
    border-radius: 2.5rem;
    margin-left: 0.5rem;
}

.dsfds {
    display: flex;

}

.overall {
    display: flex;
    height: 94%;
    /* flex-wrap: wrap; */
    width: 100%;
}

.sonbsc {
    border-bottom: 1px solid rgb(230, 229, 229);
    pointer-events: auto;
    width: 100%;
}

.nopkmp {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bimgcs {

    margin: 0 0.25rem;

    height: auto;

    display: flex;
}

.roleTb {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#box>.dc:last-child {
    margin-bottom: 1rem;
}


.xq:hover {
    background-color: rgb(218, 228, 233);
}

.bj {
    width: 62px;
    height: 62px;
    border: 1px solid red;
}

.zz {
    filter: brightness(50%);
}

.roleName {
    margin-left: 1rem;
    font-size: 2rem;
    color: rgb(69, 75, 84);
    font-weight: bolder;
}

.wwww {

    display: flex;

    align-items: center;
}

.ddddddddddd {
    height: 100%;
}

.bxhjc {
    display: none;
    margin: 4px;
    width: 32px;
    /* height: 100%; */
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
    margin-left: auto;
    justify-content: flex-end;
}

.bxhjcImg {
    /* width: 100%; */
    /* height: 100%; */
    width: 30px;
    object-fit: cover;
}

.abc {

    display: flex;

    flex-direction: column;

    align-items: center;

    /* justify-content: center; */
}

.abc>a>div {
    background-color: white;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1.3rem;
    margin-top: 1rem;
    font-weight: 600;
    font-family: auto;
}

.abc>a:hover {
    position: relative;
    bottom: 3px;
}

.abc>div {
    color: white;
    font-size: 0.9rem;
    display: flex;
}

.setList {

    position: absolute;
    top: 50%;
    left: 50%;
    height: 30rem;
    width: 30rem;
    border-radius: 0.9rem;
    background-color: rgb(255, 255, 255);
    margin-left: -15rem;
    /*宽度的一半*/
    margin-top: -15rem;
    /*高度的一半*/
}

.Gallery {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30rem;
    width: 30rem;
    border-radius: 0.9rem;
    background-color: rgb(255, 255, 255);
    margin-left: -15rem;
    /*宽度的一半*/
    margin-top: -15rem;
    /*高度的一半*/
}

/* 存档 */
.archiveList {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30rem;
    width: 20rem;
    border-radius: 0.9rem;
    background-color: rgb(255, 255, 255);
    margin-left: -10rem;
    /*宽度的一半*/
    margin-top: -15rem;
    /*高度的一半*/
    overscroll-behavior: contain;
}

.archiveGalleryTop {
    display: flex;
    height: 10%;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    background-image: url(/images/Popup_Img_Deco_0.webp);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: -2rem -2rem; */
    align-items: center;
}

.archiveTydgvsgfv {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: row;
    /* margin-right: 3.8rem; */
    align-items: center;
    /* justify-content: center; */
}

.archiveYhivdfbs {
    color: rgb(45, 70, 100);
    display: flex;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: emoji;
    margin-right: 7rem;
    margin-left: auto;
}

.archiveGalleryContent {
    background-color: rgb(243, 247, 248);
    height: 90%;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(/images/hexa_back_01.webp); */
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
}

.newArchive {
    display: flex;
    width: auto;
    /* margin: 0 10px; */
    padding: 10px;
    /* font-size: 1rem; */
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid rgb(218, 225, 229);
}

.newArchive:active {
    background-color: rgb(202, 215, 221);
}

.newArchiveLabel {}

.oldArchive {
    overflow-y: auto;
    height: 85%;
}

.ArchiveOne {
    padding: 10px;
    display: flex;
    border-bottom: 1px solid rgb(218, 225, 229);
}

.AL-Series {
    display: flex;
    flex-direction: column;
    width: auto;
    /* height: 100%; */
    padding: 0 1rem;
    /* overflow-x: hidden; */
    padding-top: 1rem;
    border-bottom: 1px solid rgb(218, 225, 229);
    /* padding-top: 0.5rem; */
    /* cursor: pointer; */
}

.AL-ArchiveOne {
    width: 100%;
    display: flex;
    /* white-space: normal; */
    cursor: pointer;
}

.AL-TitleDiv>.AL-imgTools>img {
    width: 1.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}
.AL-OneChildList>.AL-OneChildTitleDiv:first-child{
    /* margin-top: 1rem; */
} 
.AL-TitleDiv {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
    display: flex;
    /* margin-bottom: 1rem; */
    /* padding: 1rem 0; */
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.dxx{
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: 0;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}
.AL-OneChildList {
    width: auto;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.AL-OneChildTitleDiv {
    /* width: auto; */
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AL-OneChildTitle {
    word-wrap: break-word;
    word-break: break-all;
    cursor: pointer;
}
.word-wrap{
    word-wrap: break-word;
    word-break: break-all;
    /* cursor: pointer; */
}
.AL-imgTools {
    display: flex;
    /* margin-left: auto; */
}

.AL-OneChildTitleDiv>.AL-imgTools>img {
    width: 1.4rem;
    cursor: pointer;
    margin-left: 0.5rem;
}
.mhh{
    
font-size: 1.1rem;
    
line-height: 1.1rem;
}
.mhhh{
    
font-size: 1rem;
    
line-height: 1rem;
}
/* 存档 */
.n {
    display: none;
}

.GalleryTop {
    display: flex;
    height: 10%;
    flex-direction: row;
    justify-content: flex-end;
    background-image: url(/images/Popup_Img_Deco_0.webp);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: -2rem -2rem; */
    align-items: center;
}

.tydgvsgfv {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-right: 3.8rem;
    align-content: space-between;
}

.tydgvsgfv img {
    position: relative;
    top: 3px;
    /* width: 66%; */
}

.yhivdfbs {
    color: rgb(45, 70, 100);
    font-size: 1.7rem;
    font-weight: bold;
    font-family: emoji;
    /* margin-right: 7rem; */
}

.gb,
.archiveGb {
    /* width: 75%; */
    cursor: pointer;
    display: flex;
    /* margin-right: auto; */
    /* margin-left: auto; */
    /* float: right; */
    /* position: absolute; */
}

.gb:hover,
.archiveGb:hover {
    position: relative;
    bottom: 3px;
}

.GalleryContent {
    background-color: antiquewhite;
    height: 90%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(/images/hexa_back_01.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
}

.imgContent {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    overflow-x: hidden;
    justify-content: space-between;
    align-content: flex-start;
}

.hgfhdft {
    width: 9rem;
    height: 9rem;
}

.bimg>.oneImg:last-of-type {
    /* margin-right: 0.3rem; */
}

.iuydsgfop {
    margin: 0;
    margin-bottom: 0.35rem;
    /* margin-left: 6rem; */
    margin-top: 0.5rem;
}

.hudsfdosf {
    margin: 0;
    margin-bottom: 0.5rem;
    margin-left: 5.4rem;
}

.yiuchsfh {
    padding: 0;
}

.ydbsfhdf {
    max-width: 92%;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.adb {
    margin-left: 1.25rem;
    margin-top: 0.75rem;
}

.updateName {
    width: 1.25rem;
}

.eventContainerLove {
    display: flex;
    flex-direction: column;
    width: auto;
    color: #4C5B6F;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(252, 238, 240);
    border: 1px solid rgb(221, 210, 216);
    margin: 1rem 2rem;
    background-image: url(/images/Favor_Schedule_Deco.webp);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

.eventContainerReply {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 1rem 2rem;
    color: #4C5B6F;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(225, 237, 240);
    border: 1px solid rgb(221, 210, 216);
    background-image: url(/images/Popup_Img_Deco_2.webp);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 100%;
}

.eTopTitle {
    display: flex;
    flex-direction: row;
    font-size: large;
    align-items: center;
    font-weight: bold;
}

.eVertical {
    height: 1rem;
    width: 0.05rem;

}

.colorRed {
    height: 1.5rem;
    width: 0.1rem;
    background-color: rgb(252, 135, 155);
}

.colorBlue {
    height: 1.5rem;
    width: 0.1rem;
    background-color: rgb(39, 153, 228);
}

.eTitle {
    margin-left: 0.25rem;
    font-size: larger;
}

.eLine {
    border-top: 1px solid rgb(207, 207, 206);
    margin: 0.5rem 0;
}

.eContentRed {
    display: flex;
    background-color: rgb(252, 135, 155);
    padding: 0.5rem;
    border-radius: 0.5rem;
    justify-content: center;
    color: white;
    font-size: large;
    font-weight: bold;
    box-shadow: rgb(215, 165, 165) 0rem 0.05rem 0.2rem;
    border-bottom: 0.1rem solid rgb(169, 136, 136);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-all;
}

.eContentBlue {
    display: flex;
    background-color: rgb(252, 135, 155);
    padding: 0.5rem;
    border-radius: 0.5rem;
    justify-content: center;
    color: rgb(75, 105, 137);
    font-size: large;
    font-weight: bold;
    box-shadow: rgb(180, 188, 192) 0rem 0.05rem 0.2rem;
    border-bottom: 0.1rem solid rgb(174, 174, 174);
    background-color: white;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-all;
}

#box>div:nth-of-type(1) {
    margin-top: 2rem;
}

.bah {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}

.bah>div:first-child {
    margin-right: 0.5rem;
}

.editBtn {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.editBtn>img {
    width: 1.5rem;
}

.Gmain {
    display: flex;
    flex-direction: column;
    /* height: 83%; */
    width: 100%;
}

.GmainTop {
    display: flex;
    height: 94%;
    width: 100%;
}

.GmainBtm {
    display: flex;
    height: 6%;
    width: 100%;
}

.textarea-inherit {
    width: 100%;
    overflow: auto;
    word-break: break-all;
}

.chooseDiv {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.iptChoose {
    display: flex;
    height: 1.5rem;
    width: 1.5rem;
}

.chooseDivYHZ {
    display: flex;
    /* margin-right: 8px; */
}

.iptChooseYHZ {
    display: flex;
    height: 1.5rem;
    width: 1.5rem;
}

.dc {
    width: 100%;
}

.dfsdfYHZ {

    display: flex;

    flex-direction: row-reverse;
}

.chooseNone {
    display: none;
}

#box .editOpen>:first-child {
    border-top: 2px dashed black;
}

.ipt {}

/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {
    body {
        height: 100%;
        width: auto;
        margin: 0;
        overflow-x: hidden;
    }

    .left {
        display: none;
        width: 15%;
    }

    .topimg {
        display: flex;
    }

    .center {
        width: 0;
        transition: width 0.5s;
        z-index: 99;
    }

    .right {
        width: 100%;
        transition: width 0.5s;
    }

    .roleRemarkDiv3 {
        max-width: 13rem;
    }

    .roleRemarkDiv2 {
        max-width: 14rem;
    }

    .bxhjc {
        display: flex;
    }

    .bottomImgs {
        width: 94%;
    }

    .RoleOverall {
        margin: 0 0.7rem;
    }

    .roleImg {
        width: 56px;
        height: 56px;
    }

    .replaceAvatar {
        width: 64px;
    }

    .topDelete {
        font-size: 1rem;
        margin-left: 0;
        width: auto;
    }

    .roleOverall {
        margin: 0 0.5rem;
    }

    .roleOverallTopMargin {
        margin-top: 1rem;
    }

    .rightRoleOverall {
        margin-top: 0.5rem;
    }
}

/* 小屏幕（平板，小于等于 768px） */
@media (min-width: 768px) {
    /* body {
        height: 100%;
        width: auto;
        margin: 0;
        overflow-x: hidden;
    }

    .left {
        display: none;
    }

    .topimg {
        display: flex;
    }

    .center {
        display: none;
    }

    .roleRemarkDiv3 {
        max-width: 75%;
    }

    .roleRemarkDiv2 {
        max-width: 85%;
    } */
}